<h1>Listing colas</h1>

<table>
  <tr>
    <th>Punto de Servicio</th>
    <th>Cuenta</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @colas.each do |cola| %>
  <tr>
    <td><%= cola.descripcion %><td>
    <td><%= cola.cuenta %></td>
    <td><%= link_to 'Show', cola %></td>
    <td><%= link_to 'Edit', edit_cola_path(cola) %></td>
    <td><%= link_to 'Destroy', cola, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cola', new_cola_path %>
