<div class="menu_bar">
  <stron><%= date_swicher(params[:fecha]) %></strong> 
<%= link_to "Pendientes", colas_path(:fecha => params[:fecha]) %>
<%= link_to "Finalizados", colas_path(:fecha => params[:fecha], :pend => true) %>
</div>

<hr />
<h1>Listing colas</h1>

<table class="hiliteme">
  <tr>
    <th>Punto de Servicio</th>
    <th>Cuenta</th>
  </tr>

<% @colas.each do |cola| %>
  <tr>
    <td><%= link_to cola.punto_servicio.descripcion, pacientes_cola_path(cola.punto_servicio.id, :fecha => params[:fecha]) %></td>
    <td><%= cola.cantidad %></td>
  </tr>
<% end %>
</table>

