<script type="text/javascript">
  $(function() {
      $( "#exams-dialog" ).dialog({
                          height: 300,
                          width: 600,
                          autoOpen: false,
                          buttons: {"Ok": function() {
                                                      $(this).dialog("close");
                                                      }
                                  }
                          });
      });
</script>

<div id="exams-dialog" title="Examenes" style="display: hidden;">
</div>
<div class="menu_bar">
  <stron><%= date_swicher(params[:fecha]) %></strong>
<%= link_to "Pendientes", pacientes_cola_path(params[:id], :fecha => params[:fecha]) %>
<%= link_to "Finalizados", pacientes_cola_path(params[:id], :fecha => params[:fecha]) %>
</div>
<hr />

<h1>Listing  <%= (PuntoServicio.find params[:id]).descripcion %></h1>

<table class="hiliteme">
  <tr>
    <th>Paciente</th>
    <th>Rut</th>
    <th>Hora de Ingreso</th>
    <th></th>
  </tr>

<% @pacientes.each do |paciente| %>
  <tr>
    <td><%= link_to paciente.name, patient_exams_path(paciente),{:title => puntos_de_servicio(paciente).join("\n"), :remote => true} %></td>
    <td style="text-align:right"><%= paciente.rut %></td>
    <td></td>
    <td><%= link_to "terminado", terminar_colas_path(:ps => params[:id], :rut => paciente.rut),{:confirm => "Confirme que el trabajador sea \nNombre:#{paciente.name}\nRut: #{paciente.rut}"}%></td>
  </tr>
<% end %>
</table>

