<p id="notice"><%= notice %></p>

<p>
  <b>Cod prestacion:</b>
  <%= @prestacion.cod_prestacion %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @prestacion.descripcion %>
</p>


<%= link_to 'Edit', edit_prestacion_path(@prestacion) %> |
<%= link_to 'Back', prestacions_path %>
