<h1>Listing patients</h1>
<hr />
<table>
  <tr>
    <th><%= sortable "name" %></th>
    <th>Rut</th>
    <th>Rut empresa</th>
    <th><%= sortable "examenes" %></th>
    <th><%= sortable "started_at", "Hora de llegada" %></th>
    <th>Finished at</th>
    <th><%= sortable "started_at", "Transcurrido" %></th>
    <th>Examenes</th>
  </tr>

<% @patients.each do |patient| %>
  <tr>
    <td><%= link_to patient.name, patient  %></td>
    <td><%= patient.rut %></td>
    <td><%= patient.rut_empresa %></td>
    <td><%= patient.exams.size %></td>
    <td><%= patient.started_at.to_formatted_s(:time) %></td>
    <td><%= patient.finished_at %></td>
    <td><%= distance_of_time_in_words_to_now(patient.started_at+3.hours) %></td>
    <td><%= link_to "examenes", patient_exams_url(patient), {:title => patient.exams.map(&:exam_name).join("\n")} %> </td>
  </tr>
<% end %>
</table>

<br />


