<h1>Listing patients</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Rut</th>
    <th>Rut empresa</th>
    <th># Examenes</th>
    <th>Hora de llegada</th>
    <th>Finished at</th>
    <th>Transcurrido</th>
  </tr>

<% @patients.each do |patient| %>
  <tr>
    <td><%= link_to patient.name, patient_exams_url(patient),{:title => patient.exams.map{|e|e.exam_name}.join("\n")} %></td>
    <td><%= patient.rut %></td>
    <td><%= patient.rut_empresa %></td>
    <td><%= patient.exams.count %></td>
    <td><%= patient.started_at %></td>
    <td><%= patient.finished_at %></td>
    <td><%= "hace #{((Time.now - patient.started_at)/60).to_i-180} minutos"  %></td>
  </tr>
<% end %>
</table>

<br />


