<script type="text/javascript">
  $(function() {
      $( "#exams-dialog" ).dialog({
                          height: 300,
                          width: 600,
                          autoOpen: false,
                          buttons: {"Ok": function() {
                                                      $(this).dialog("close");
                                                      }
                                  }
                          });
      });
</script>

<div id="exams-dialog" title="Examenes" style="display: hidden;">
</div>

<% content_for :menubar do %>
  <%= render "partials/menubar"%>
<% end %>

<div class="menu_bar">
  <%= link_to "Mostrar trabajadores de hoy", patients_path(params.merge({:filter =>:pendientes, fecha: Date.today}))%>
  <stron><%= date_swicher(params[:fecha]) %></strong> 
</div>
<hr />

<h1>Listado de Trabajadores  - <%= @patients.size %>  </h1>

<h3>Hasta las <%= Time.now.to_formatted_s(:time) %> de hoy.</h3>
<hr />
<table class="hiliteme">
  <tr>
    <th><%= sortable "name", "Nombre" %></th>
    <th><%= sortable "rut", "Rut" %></th>
    <th><%= sortable "rut_empresa", "Rut Empresa" %></th>
    <th><%= sortable "examenes", "Prestaciones" %></th>
    <th><%= sortable "started_at", "Llegada" %></th>
    <th><%= sortable "finished_at", "Termino" %></th>
    <th>Examenes</th>
  </tr>

<% @patients.each do |patient| %>
  <tr class="<%= cycle('oddrow', 'evenrow') %>">
    <td><%= patient.name  %></td>
    <td><%= patient.rut %></td>
    <td><%= patient.rut_empresa %></td>
    <td><%= puntos_de_servicio(patient).size %></td>
    <td><%= to_time_format(patient.started_at) %></td>
    <td><%= to_time_format(patient.finished_at) %></td>
    <td><%= link_to "examenes", patient_exams_url(patient), {:remote => true, :title => puntos_de_servicio(patient).join("\n")} %> </td>
  </tr>
<% end %>
</table>

<br />

