<p id="notice"><%= notice %></p>

<p>
  <b>Patient:</b>
  <%= @exam.patient_id %>
</p>

<p>
  <b>Exam:</b>
  <%= @exam.exam_id %>
</p>

<p>
  <b>Exam name:</b>
  <%= @exam.exam_name %>
</p>


<%= link_to 'Edit', edit_exam_path(@exam) %> |
<%= link_to 'Back', exams_path %>
