<!DOCTYPE html>
<html>
<head>
  <title>SepRouter</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    <!--
  $(
      function()
      {
      $(".hiliteme tr").hover(
        function()
        {
        $(this).addClass("highlight");
        },
        function()
        {
        $(this).removeClass("highlight");
        }
        )
      }
   )
  //-->
  </script>
</head>
<body>
  <div id="user_nav">
      <% if user_signed_in? %>
        <%= link_to current_user.username, edit_user_registration_path %> | <%= current_user.current_sign_in_ip %> | 
        <%= link_to "Cerrar Session", destroy_user_session_path, :method => :delete %>
      <% else %>
        <%= link_to "Login", new_user_session_path %> &nbsp;
      <% end %>
  </div>
  <h1 id="title" class="ui-corner-top">Piloto Sistema de Enrutamiento Dinámico SEP-HTS</h1>
  <% if flash[:notice] %>
    <div id="notice"><%= notice %></div>
  <% end %>
  <% if flash[:notice] %>
    <div id="alert"><%= alert %></div>
  <% end %>
  <hr />
  <%= yield :menubar %>
  <hr />
   

<%= yield %>
<hr />
<div id="footer" class="ui-corner-bottom">
  Sistema piloto de control, gestión y priorización de colas de espera. - SEP HTS
  <br />
  ThinkMint ®
</div>
</body>
</html>
