<!DOCTYPE html>
<html>
<head>
  <title>SepRouter</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="menu_bar">
    <%= link_to "Carga de Exámenes", estadistica_carga_examenes_path %>
    <%= link_to "Pacientes", patients_path %>
    <%= link_to "Prestaciones", prestaciones_path %>
  </div>
  <hr />
   

<%= yield %>
<hr />
<div id="footer">
  Sistema piloto de control, gestión y priorización de colas de espera. - ThinkMint
  <br />
  SEP-HTS 
</div>
</body>
</html>
